{% extends 'layout.html' %} {% block main %}
<div class="contentPart">
    <h3 class="text-center">添加文章</h3>
    <form method="post">
        <div class="form-group" style="height:40px;">
            <button type="button" class="back btn btn-default pull-left">返回</button>
            <button type="submit" class="btn btn-info pull-right">提交</button>
        </div>
        <div class="form-group">
            <span>标题</span>
            <input class="form-control" type="text" name="name" />
        </div>
        <div class="form-group">
            <span>分类</span>
            <select name="categories" class="form-control">
                {% for category in categories %}
                <option value="{{category._id.toString()}}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <span style="line-height: 30px;">内容摘要</span>
            <textarea id="description" class="form-control" rows="3" name="description"></textarea>
        </div>
        <div class="form-group">
            <span style="line-height: 20px;">文章正文</span>
            <textarea id="content" class="form-control" name="content" rows="30"></textarea>
        </div>
    </form>
    <script>
        $('.back').click(function() {
            window.location.href = "../content";
        });
    </script>
</div>
{% endblock %}